.contact::after {
  background-image: url('../images/images_my/contact-us/contact-us.jpg');
}

.contact .graphic img {
  object-position: 70%;
}

.contact .main-section__item-wrapper {
  display: block;
}

.contact form,
.contact .location__wrapper,
.contact .telephone {
  background-color: var(--dark-blue-color);
  border-radius: var(--middle-radius);
  padding: 10px;
  max-width: 700px;
  box-shadow: var(--box-shadow);
}

.contact .telephone {
  cursor: pointer;
}

.contact form,
.contact .location__wrapper,
.contact map {
  margin-bottom: 20px;
}

.contact form {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  row-gap: 10px;
  border: none;
  width: 100%;
}

.contact li {
  color: var(--white-color);
}

.contact .location__wrapper li {
  margin: 0;
  font-weight: 300;
}

.contact .telephone li:nth-last-of-type(1) {
  color: var(--yellow-color);
  text-shadow: var(--text-shadow);
}

.contact iframe {
  border-radius: var(--small-radius);
}

.contact h3,
.contact p,
.contact input,
.contact textarea {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 500;
}

.contact h3,
.contact p {
  grid-column: 1/7;
}

.contact input,
.contact textarea {
  grid-column: 1/7;
  padding: 5px;
  border-radius: var(--small-radius);
  border: none;
  color: #000;
}

.contact textarea {
  min-height: 200px;
}

.contact ::placeholder {
  color: var(--very-dark-blue-color);
}

.btn-form {
  font-family: 'Noto Sans Display', sans-serif;
  padding: 15px 10px;
  font-size: var(--normal-font-size);
  grid-column: 1/7;
  font-weight: 600;
}

/* errors */
.contact .failure,
.contact .send { 
  background-color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: var(--small-radius);
}

.contact .failure-field {
  background-color: #fff28ceb;
  color: var(--very-dark-blue-color);
}

.contact .failure-field::placeholder {
  color: red;
}

.send {
  color: green;
}

.failure {
  color: red;
}