.explore.welcome {
  overflow: hidden;
}

.explore::after {
  background-image: url('../images/images_from_noroff/mammoth-1257288_1920.jpg');
  opacity: 7%;
}

.explore .main-section__item-wrapper {
  margin: auto;
}

.explore.main-section a {
  display: inline-block;
  margin-top: 10px;
}

.explore .graphic-overlay {
  position: relative;
  transform: rotate(-10deg);
}

.explore .graphic-overlay::after {
  display: block;
  content: "";
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(34, 100%, 50%, 80%);
  opacity: .5;
  z-index: 0;
}

.explore .main-section__item__img-wrapper {
  width: 100%;
  min-height: 200px;
  align-self: center;
}



