.for.main-section .main-section__item {
  grid-template-rows: 1fr;
}

.for::after {
  opacity: 5%;
}

.for-kids::after {
  background-image: url('../images/images_my/kids-scientists/kids-scientists.jpg');
}

.for-kids .nav-section li:nth-child(1) a {
  border-bottom: 2px solid rgb(255, 247, 0);
}

.for-teachers::after {
  background-image: url('../images/images_my/for-teachers-main/for-teachers-main.jpg');
}

.for-teachers .nav-section li:nth-child(2) a {
  border-bottom: 2px solid rgb(255, 247, 0);
}

.for-researchers::after {
  background-image: url('../images/images_my/for-researchers/for-researchers.jpg');
}

.for-researchers .nav-section li:nth-child(3) a {
  border-bottom: 2px solid rgb(255, 247, 0);
}

.for-researchers .container::after {
  height: 80%;
}

.for-researchers .container::before {
  display: none;
}

.for .main-section__item[title="Community Science Museum || Contact"] {
  cursor: pointer;
}

