/* reset */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
  font-size: 1rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 10px 20px;
}

section {
  padding-block-start: 20px;
  padding-block-end: 50px;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

h1 {
  color: var(--white-color);
  font-weight: normal;
  font-size: calc(var(--normal-font-size) + 6vw);
}

h2 {
  color: var(--yellow-color);
  font-weight: 600;
  font-size: calc(var(--normal-font-size) + 10px);
  letter-spacing: 1px;
  font-style: italic;
  text-transform: uppercase;
}

p,
figcaption {
  font-weight: 300;
  font-style: italic;
  color: var(--white-color);
  font-size: calc(var(--normal-font-size) + 4px);
  letter-spacing: 1px;
  line-height: 1.4;
}

figure {
  margin: 10px 0 30px;
}

img {
  width: 100%;
}

figure img {
  margin-bottom: 10px;
}
