/* nav */
.nav-main {
  width: 100%;
  border-bottom: 3px solid var(--white-color);
  position: fixed;
  background-color: var(--very-dark-blue-color);
  z-index: 1;
} 

.nav-main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  height: 30px;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
}

.bars {
  display: block;
  width: calc(var(--normal-font-size) + 2vw);
  height: 4px;
  background-color: var(--white-color);
  border-radius: 50px;
  transition: .2s;
}

/* transition */
#hamburger-menu:checked ~ .hamburger-menu .bar-one {
  transform: translateY(10px) rotate(45deg);
  background-color: var(--orange-color);
}

#hamburger-menu:checked ~ .hamburger-menu .bar-three {
  transform: translateY(-10px) rotate(-45deg);
  background-color: var(--orange-color);
}

#hamburger-menu:checked ~ .hamburger-menu .bar-two {
  background-color: var(--orange-color);
  transform: translate(100px);
  opacity: 0;
}

.logo {
  color: var(--white-color);
  font-size: calc(var(--normal-font-size) + 1vw);
}

.first-letter {
  font-weight: 700;
}

.invisible {
  display: none;
}

#hamburger-menu {
  display: none;
}

.nav-main__list {
  transform: translateX(-1000px);
  opacity: 0;
  position: fixed;
  top: calc(var(--big-font-size) + 3vw);
  list-style-type: none;
  background-color: var(--white-color);
  width: 80%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: .2s;
}

.nav-main__list a {
  display: block;
  color: var(--dark-blue-color);
  text-transform: uppercase;
  padding: 7px 0;
  font-size: calc(var(--normal-font-size) + 1vw);
  font-weight: 600;
  transition: .1s;
}

.nav-main__list a:hover {
  color: var(--orange-color);
}

#hamburger-menu:checked ~ .nav-main__list {
  transform: translateX(0);
  opacity: 1;
}

/* welcome section */
.welcome {
  background-image: url('../images/images_from_noroff/scott-webb-102825-museum.jpg');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  padding-block-start: 75px;
  padding-block-end: 35px;
}

.welcome::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(36, 54, 98, 0.8);
  z-index: -1;
}
.welcome .container {
  display: grid;
  grid-template-columns: 1fr;
}

.main-header {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
}

.main-header span:nth-of-type(2), 
.main-header span:nth-of-type(3), 
.main-header span:nth-of-type(4) {
  margin: 0 0 -15px 0;
}

.main-header__prefix {
  display: block;
  font-size: calc(var(--normal-font-size) + 0.5vw);
  font-style: italic;
  margin-bottom: 20px;
}

.main-header__word {
  display: block;
}

.graphic-img {
  width: 100%;
  margin: 0;
  object-fit: contain;
}








