/* main */
.main-section {
  background: linear-gradient(#243A64, #070B14)
}

/* I don't know yet to change max-width to 900px? */
.main-section .container {
  max-width: 800px;
}

.main-section__top-figure {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}