/* main */
.explore-together {
  background: linear-gradient(#243A64, #070B14)
}

/* I don't know yet to change max-width to 900px? */
/* .explore-together .container {
  max-width: 900px;
} */

.explore-together__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}