.map::after {
  background-image: url('../images/images_my/visit.png');
  opacity: 10%;
}

.map .main-section__item-wrapper {
  grid-template-columns: 1fr;
  row-gap: 20px;
  background-color: var(--dark-blue-color);
  padding: 10px 15px 20px;
}

.map .main-section__item-wrapper li {
  color: var(--white-color);
}

.map .main-section__item-wrapper li:nth-of-type(1) {
  font-weight: 600;
}

.map .main-section__item-wrapper,
.map .main-section__item-wrapper iframe {
  border-radius: var(--middle-radius);
}

.map .main-section__item-wrapper iframe {
  min-height: 60vh;
}

.map .main-section__item-wrapper .btn-map {
  text-shadow: none;
  color: #000;
}

.map .main-section__item-wrapper,
.map .main-section__item-wrapper .btn-map {
  box-shadow: var(--box-shadow);
}