@media (max-width: 165px) {
  h1 {
    font-size: calc(var(--normal-font-size) + .5vw);
  }
}

@media (min-width: 320px) {
  .logo {
    font-size: calc(var(--normal-font-size) + .5vw);
  }

  .invisible {
    display: inline;
  }
}

/* In case back to max-width: 1170px, change font-size to: font-size: calc(var(--normal-font-size) + 2vw); */
@media (min-width: 380px) {
  .logo {
    font-size: calc(var(--normal-font-size) + 1vw);
  }
}

@media (min-width: 550px) {
  .mona-lisa {
    width: 90%;
    margin: 35px 0;
  }
}

@media (min-width: 600px) {
  /* header */
  .welcome {
    padding-block-start: 100px;
  }

  .welcome .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header--prefix {
    font-size: calc(var(--normal-font-size) + 1vw);
  }

  h1 {
    width: 50%;
  }

  .graphic {
    width: 50%;
  } 


  /* main */
  .explore-together .container {
    max-width: 800px;
  }

  .explore-together__item {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
  }

  .explore-together__item:nth-of-type(even) {
    direction: rtl;
    text-align: left;
  }
}
/* max-width 1500px, because of h1 */
@media (min-width: 1300px) {
  .bars {
    width: 45px;
  }

  .logo {
    font-size: 50px;
  }

  .main-header {
    font-size: 100px;
  }

  p,
  figcaption {
    font-size: 20px;
  }
}