@media (max-width: 165px) {
  h1 {
    font-size: calc(var(--normal-font-size) + .5vw);
  }
}

@media (min-width: 320px) {
  .invisible {
    display: inline;
  }
}

@media (min-width: 380px) {
  .logo {
    font-size: calc(var(--normal-font-size) + 2vw);
  }
}

@media (min-width: 550px) {
  .mona-lisa {
    width: 90%;
    margin: 35px 0;
  }
}

@media (min-width: 600px) {
  section {
    padding-block-start: 100px;
  }

  .welcome .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header--prefix {
    font-size: calc(var(--normal-font-size) + 1vw);
  }

  h1 {
    width: 50%;
  }

  .graphic {
    width: 50%;
  } 
}

/* max-width 1500px, because of h1 */
@media (min-width: 1500px) {
  .bars {
    width: 45px;
  }

  .logo {
    font-size: 50px;
  }

  .main-header {
    font-size: 100px;
  }
}