.subscribe::after {
  background-image: url('../images/images_my/subscribe/pexels-andrea-piacquadio-3824771.jpg');
}

.subscribe.main-section .container::after,
.subscribe.main-section .container::before {
    display: none;
  }

  /* subscribe */
  .subscribe .main-section__item-wrapper {
    display: block;
  }
  