/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Noto Sans', sans-serif; */

:root {
  /* colors */
  --orange-color: #FF9100;
  --yellow-color: #FFF700;
  --dark-blue-color: #243662;
  --very-dark-blue-color: #121D38;
  --white-color: #fff;

  /* font-size */
  --normal-font-size: 1rem;
  --medium-font-size: 2rem;
  --big-font-size: 3rem;
}





