<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Science Museum - museum of science. || Welcome on special events and exhibitions website of our Community Science Museum. On this website you can get know more about our special events and exhibitions.">
  <title>Community Science Museum || Special Events & Exhibitions</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main special-events"></nav>
    <section class="events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Events</span>
          <span class="main-header__word"><span class="first-letter">S</span>pecial</span>
          <span class="main-header__word"><span class="first-letter">E</span>vents &</span>
          <span class="main-header__word"><span class="first-letter">E</span>xhibitions</span>
        </h1>
        <ul class="nav-section">
          <li><a href="#prof-aeronautics">Visiting Professor
              of Aeronautics</a></li>
          <li><a href="#night-in-museum">Night in the Museum</a></li>
          <li><a href="#energetica">Energetica Exhibition
              on Loan</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../images/images_my/special-events-main/special-events-main.jpg"
            alt="Mammoth in museum">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Special Events</h2>
        <div class="main-section__item-wrapper"></div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/mainElements.js"></script>
  <script src="../js/script.js"></script>
  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
  <script src="../js/jqueryScroll.js"></script>

</body>

</html>