<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || Welome on special events and exhibitions website of our Community Sience Museum. On this website you can get know more about our special events and exhibitions.">
  <title>Community Sience Museum || Special Events & Exhibitions</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main">
      <div class="container">
        <input type="checkbox" id="hamburger-menu">
        <label for="hamburger-menu" class="hamburger-menu">
          <span class="bars bar-one"></span>
          <span class="bars bar-two"></span>
          <span class="bars bar-three"></span>
        </label>
        <ul class="nav-main__list">
          <li><a href="../index.html">Home</a></li>
          <li><a href="./explore.html">Explore</a></li>
          <li><a href="./exhib-spaces.html">Exhibition Spaces</a></li>
          <li><a href="./events.html">Special Events & Exhibitions</a></li>
          <li><a href="">Get Involved</a></li>
          <li><a href="">Visit</a></li>
        </ul>
        <a href="#" class="logo">
          <span class="first-letter">C</span><span class="invisible">ommunity</span> <span
            class="first-letter">S</span><span class="invisible">ience</span> <span class="first-letter">M</span><span
            class="invisible">useum</span></a>
      </div>
    </nav>
    <section class="events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">News</span>
          <span class="main-header__word"><span class="first-letter">S</span>pecial</span>
          <span class="main-header__word"><span class="first-letter">E</span>vents</span>
        </h1>
        <ul class="nav-section">
          <li><a href="">> Visiting Professor
              of Aeronautics</a></li>
          <li><a href="">> Night in the Museum</a></li>
          <li><a href="">> Energetica Exhibition
              on Loan</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../images/images_my/special-events-main/special-events-main.jpg"
            alt="Mammoth in museum">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Special Events</h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">
            <h3 class="sub-title">Visiting Professor
              of Aeronautics >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/profesor-of-astronautics/profesor-of-astronautics.jpg"
                alt="Picture of kid - profesor of astronautics.">
            </div>
            <p>It is our pleasure to announce that Prof Sheila Widnall from the Massachusetts Institute of Technology
              will be delivering 3 lectures on the development of aeronautics and where the future lies in this exciting
              ‘space’.
            </p>
            <a href="#">Contact Us
              to get more info >>></a>
          </div>
          <div class="main-section__item">
            <h3 class="sub-title">Night in the Museum >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/evolution/evolution.jpg" alt="Process of evolution">
            </div>
            <p>Get your family together for an exciting night in the museum as you sleep over beside dinosaurs and
              science displays. Bring your own sleeping bag and get ready to rough it as we go exploring the wonders of
              science.</p>
            <a href="#">Contact Us
              to get more info >>></a>
          </div>
          <div class="main-section__item">
            <h3 class="sub-title">Energetica Exhibition on Loan >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_from_noroff/heart-2607178_1920.jpg" alt="Picture of heart">
            </div>
            <p>On loan from the NEMO Science Museum in Amsterdam, the Energetica exhibition is coming to the Community
              Science Museum. It’s a series of installations that allow visitors to experience the power of the elements
              as we harness them. From solar energy powering lighting, to ‘Wind Island’ that shows how turbines are able
              to use and control wind to create power.
            </p>
            <a href="#">Contact Us
              to get more info >>></a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div class="newsletter-subscribe">
        <p>Subscribe<span class="exclamation-mark">!</span> <span class="invisible__to-newsletter">to
            newsletter!</span>
        </p>
        <a class="btn btn__sign-up" href="#">Sign up!</a>
      </div>
      <div class="social-media__wrapper">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="footer-nav__wrapper">
        <ul class="nav-footer__list">
          <li><a href="">Home</a></li>
          <li><a href="">Explore</a></li>
          <li><a href="">Exhibition Spaces</a></li>
          <li><a href="">Special Events & Exhibitions</a></li>
          <li><a href="">Get Involved</a></li>
          <li><a href="">Visit</a></li>
        </ul>
      </div>
      <div class="footer-sub-nav__wrapper">
        <ul class="nav_explore">
          <li><a href="">Explore together</a></li>
          <li><a href="">For kids</a></li>
          <li><a href="">For teachers</a></li>
          <li><a href="">Researchers</a></li>
        </ul>
        <ul class="nav_exhibition-spaces">
          <li><a href="">Cosmology</a></li>
          <li><a href="">Evolution</a></li>
          <li><a href="">Biology and medicine</a></li>
          <li><a href="">Robotics & AI</a></li>
          <li><a href="">Ecology</a></li>
        </ul>
        <ul class="nav_museum-info">
          <li><a href="">Visiting Professor of Aeronautics</a></li>
          <li><a href="">Night in the Museum</a></li>
          <li><a href="">Energetica Exhibition on Loan</a></li>
        </ul>
      </div>
      <div class="location__wrapper">
        <ul>
          <li>Location</li>
          <li>The museum is located at:</li>
          <li>Kjelsåsveien 143, 0491 Oslo, Norway</li>
        </ul>
      </div>
      <div class="map__wrapper">
        <map name="museum-location">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.9028013622758!2d10.781189416098105!3d59.966935781886484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464171e7f06b20d1%3A0xa4dc7a6bef326423!2sKjels%C3%A5sveien%20143%2C%200491%20Oslo%2C%20Norway!5e0!3m2!1sen!2sua!4v1642270076151!5m2!1sen!2sua"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </map>
      </div>
      <ul class="opening-hours">
        <li>Opening hours</li>
        <li>Monday: Closed</li>
        <li>Tuesday: 10:00 - 16:00</li>
        <li>Wensday: 10:00 - 16:00</li>
        <li>Thursday: 10:00 - 16:00</li>
        <li>Friday: 10:00 - 19:00</li>
        <li>Saturday: 9:00 - 16:00</li>
        <li>Saturday: 9:00 - 13:00</li>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <li>© 2022 Community Science Museum,&nbsp;</li>
        <li>Oslo, Norway &&nbsp;</li>
        <li>Mariusz Rozycki,&nbsp;</li>
        <li>phone +47 939 28 270</li>
      </ul>
    </div>
  </footer>
</body>

</html>