<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Science Museum - museum of science. || Welcome on website explore our museum of our Community Science Museum. On this website you can find sections dedicated teachers, students, researchers and choose right division. ">
  <title>Community Science Museum || Explore Our Museum</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Explore</span>
          <span class="main-header__word"><span class="first-letter">E</span>xplore</span>
          <span class="main-header__word"><span class="first-letter">O</span>ur</span>
          <span class="main-header__word"><span class="first-letter">M</span>useum</span>
        </h1>
        <ul class="nav-section">
          <li><a href="./explore__sub-web/for-kids.html">For Kids</a></li>
          <li><a href="./explore__sub-web/for-teachers.html">For Teachers</a></li>
          <li><a href="./explore__sub-web/for-researchers.html">For Researchers</a></li>
        </ul>
        <div class="graphic">
          <div class="graphic-overlay">
            <img class="graphic-img" src="../images/images_from_noroff/mammoth-1257288_1920.jpg"
              alt="Skeleton of mammoth">
          </div>
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="explore main-section">
      <div class="container">
        <h2 class="sub-title">Explore Our Museum</h2>
        <div class="main-section__item-wrapper"></div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../js/mainElements.js"></script>
  <script src="../js/script.js"></script>
  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
</body>

</html>