<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || Welome on Get Involveds website of our Community Sience Museum. On this website you can get know how to support us, become volunteer or intership.">
  <title>Community Sience Museum || Get Involved</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="involved events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">How to help?</span>
          <span class="main-header__word"><span class="first-letter">G</span>et</span>
          <span class="main-header__word"><span class="first-letter">I</span>nvolved</span>
        </h1>
        <ul class="nav-section">
          <li><a href="#support">Support</a></li>
          <li><a href="#volunteer">Volunteer</a></li>
          <li><a href="#interships">Interships</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../images/images_my/volunteer-main-img/volunteer-main-img.png"
            alt="Mammoth in museum">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Get Involved</h2>
        <div class="main-section__item-wrapper"></div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/mainElements.js"></script>
  <script src="../js/script.js"></script>
  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
  <script src="../js/jqueryScroll.js"></script>
</body>

</html>