<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || Welome on Get Involveds website of our Community Sience Museum. On this website you can get know how to support us, become volunteer or intership.">
  <title>Community Sience Museum || Get Involved</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">How to help?</span>
          <span class="main-header__word"><span class="first-letter">G</span>et</span>
          <span class="main-header__word"><span class="first-letter">I</span>nvolved</span>
        </h1>
        <ul class="nav-section">
          <li><a href="">Support</a></li>
          <li><a href="">Volunteer</a></li>
          <li><a href="">Interships</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../images/images_my/volunteer-main-img/volunteer-main-img.png"
            alt="Mammoth in museum">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Get Involved</h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">
            <h3 class="sub-title">Support >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/support/support.jpg" alt="Picture of money.">
            </div>
            <p>There are various ways you can support the museum. Donations are very welcome and are an important way we
              keep this museum open and accessible to the whole community.
              You can also support us by donating items of interest to the museum’s collections. If you have some item
              or collection that you think others would enjoy, please let us know by contacting our Collections
              Department and they will be able to assist you.</p>
            <a href="#">Write to Us >>></a>
          </div>
          <div class="main-section__item">
            <h3 class="sub-title">Volunteer >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/volunteer-description/volunteer-description.jpg"
                alt="Volunteer - picture of hands">
            </div>
            <p>A number of people volunteer their time and effort to keep the displays in good order and ready for
              visitors to come and enjoy. Volunteering has its perks including getting to see behind the scenes of a
              working museum, access to staff-only lectures, and a monthly lunch where all staff and volunteers come
              together to discuss ideas for future exhibits and strategies for the museum.
              You can help volunteer in a number of different spheres. Please contact us if you’d like to find out more
              about how you can get involved.
            </p>
            <a href="#">Write to Us >>></a>
          </div>
          <div class="main-section__item">
            <h3 class="sub-title">Internships >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/interships/chemistry-g3ea48b9ac_640.jpg"
                alt="Picture of young chemistry worker">
            </div>
            <p>Are you interested in working in a museum? Do you enjoy the fun and excitement of sharing the wonders of
              nature with people? Well you could be just the right person to enjoy an internship at the museum.
              You’ll be learning from a number of different academics and people who are passionate about science and
              sharing it with the wider community.</p>
            <a href="#">Write to Us >>></a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
</body>

</html>