<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Science Museum - museum of science. || Welcome on visit website of our Community Science Museum. On this website you can get know about our location, admission, opening hours, accessibility, food and drink and shop.">
  <title>Community Science Museum || Map</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="map visit events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Location</span>
          <span class="main-header__word"><span class="first-letter">L</span>ocation</span>
          <span class="main-header__word"><span class="first-letter">M</span>ap</span>
        </h1>
        <ul class="nav-section">
          <li><a title="Community Science Museum || Map" href="#map">Map</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../images/images_my/visit.jpg" alt="Picture of pice of map">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="map visit events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Location</h2>
        <div id="map" class="main-section__item-wrapper">
          <ul>
            <h3 class="sub-title">Address:</h3>
            <li>The museum is located at:</li>
            <li>Kjelsåsveien 143, 0491 Oslo, Norway</li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.9028013622758!2d10.781189416098105!3d59.966935781886484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464171e7f06b20d1%3A0xa4dc7a6bef326423!2sKjels%C3%A5sveien%20143%2C%200491%20Oslo%2C%20Norway!5e0!3m2!1sen!2sua!4v1642270076151!5m2!1sen!2sua"
            style="border:0;" allowfullscreen="" title="Location of Community Science Museum">
          </iframe>
          <a href="../layout/visit.html" title="Community Science Museum || Visit Our Museum" class="btn btn-map">Back
            to
            Visit
            Us</a>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/mainElements.js"></script>
  <script src="../js/script.js"></script>
  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
  <script src="../js/jqueryScroll.js"></script>
</body>

</html>