<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || Welome on Subscribe website of our Community Sience Museum.">
  <title>Community Sience Museum || Subscribe</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="subscribe involved events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Nice to see you here!</span>
          <span class="main-header__word"><span class="first-letter">Y</span>ou are</span>
          <span class="main-header__word"><span class="first-letter">S</span>ubscribing!</span>
        </h1>
      </div>
    </section>
  </header>
  <main>
    <section class="subscribe events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Congratulations and thank you! :)</h2>
        <div class="main-section__item-wrapper">
          <p>If you are on this website, that means, you are subscribing our newsletter! :) Check one time weekly your
            mail to read about our news! </p>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/mainElements.js"></script>
  <script src="../js/script.js"></script>
  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
  <script src="../js/jqueryScroll.js"></script>
</body>

</html>