<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || Welome on visit website of our Community Sience Museum. On this website you can get know about our location, admission, opening hours, accessibility, food and drink and shop.">
  <title>Community Sience Museum || Visit Our Museum</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="visit events spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Location</span>
          <span class="main-header__word"><span class="first-letter">V</span>isit</span>
        </h1>
        <ul class="nav-section">
          <li><a href="#location">Location</a></li>
          <li><a href="#admission">Admission</a></li>
          <li><a href="#opening">Opening Hours</a></li>
          <li><a href="#accessibility">Accessibility</a></li>
          <li><a href="#food-drink">Food and drink</a></li>
          <li><a href="#shop">Shop</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../images/images_my/visit-main/visit-main.jpg" alt="Picture of red carpet">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="visit events spaces explore main-section">
      <div class="container">
        <h2 class="sub-title">Visit us</h2>
        <div class="main-section__item-wrapper">
          <div id="location" class="main-section__item">
            <h3 class="sub-title">Location >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/visit.png" alt="Picture location.">
            </div>
            <p>The museum is located at:
              Kjelsåsveien 143, 0491 Oslo,
              Norway</p>
            <a href="#">Go to bigger cart >>></a>
          </div>
          <div id="admission" class="main-section__item">
            <h3 class="sub-title">Admission >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/admission/pexels-charlotte-may-5824892.jpg" alt="Picture of hall in museum">
            </div>
            <p>The entrance is free for all.
              There are guided tours of the museum that leave every hour. These tours are 70 NOK per person and include
              a handy printed guide of the museum.
              If you would like to organise a guided tour for your group of 6 or more people, please contact us to
              arrange the tour.
            </p>
            <a href="#">Write to Us >>></a>
          </div>
          <div id="opening" class="main-section__item">
            <h3 class="sub-title">Hours >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/opening-hours/opening-hours.jpg" alt="Picture of clock">
            </div>
            <p>
              <span>Monday: Closed</span>
              <span>Tuesday - Thursday:</span>
              <span>10:00 – 16:00</span>
              <span>Friday:</span>
              <span>10:00 – 19:00</span>
              <span>Saturday:</span>
              <span>9:00 – 16:00</span>
              <span>Sunday:</span>
              <span>9:00 – 13:00</span>
            </p>
            <a href="#">Write to Us >>></a>
          </div>
          <div id="accessibility" class="main-section__item">
            <h3 class="sub-title">Accessibility >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/accessibility/pexels-marcus-aurelius-4064229.jpg"
                alt="Picture of wheelchair">
            </div>
            <p>The museum has wheelchair accessibility ramps. It also has audio guides and braille display signs for the
              visually impaired.
            </p>
            <a href="#">Write to Us >>></a>
          </div>
          <div id="food-drink" class="main-section__item">
            <h3 class="sub-title">Food & drink >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/food-and-drink/pexels-sanjay-indiresh-2903384.jpg"
                alt="Picture of some food">
            </div>
            <p>There is a café attached to the museum where you can get light lunches, soft drinks, coffee, snacks and
              more.
            </p>
            <a href="#">Write to Us >>></a>
          </div>
          <div id="shop" class="main-section__item">
            <h3 class="sub-title">Shop >>></h3>
            <div class="main-section__item__img-wrapper">
              <img src="../images/images_my/shop/pexels-artem-beliaikin-1051747.jpg" alt="Logo of some shop">
            </div>
            <p>Our shop offers a range of memorabilia from the museum as well as great gifts and activity packs that
              allow you to continue to explore science even after you’ve left the museum.
            </p>
            <a href="#">Write to Us >>></a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/components/nav-main.js"></script>
  <script src="../js/components/footer.js"></script>
  <!-- <script src="../js/smoothScroll.js"></script> -->
  <script src="../js/sScrollJquery.js"></script>
</body>

</html>