<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || If you are researcher on this website you can find many informations you need to cooperate with us. ">
  <title>Community Sience Museum || Explore Our Museum - For Researchers</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="for-researchers spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Explore</span>
          <span class="main-header__word"><span class="first-letter">F</span>or</span>
          <span class="main-header__word"><span class="first-letter">R</span>esearchers</span>
        </h1>
        <ul class="nav-section">
          <li><a href="./explore__sub-web/for-kids.html"
              title="Community Sience Museum || Explore Our Museum - For Kids">For Kids</a></li>
          <li><a href="./for-teachers.html" title="Community Sience Museum || Explore Our Museum - For Teachers">For
              Teachers</a></li>
          <li><a href="./for-researchers.html"
              title="Community Sience Museum || Explore Our Museum - For Researchers">For Researchers</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../../images/images_my/for-researchers/for-researchers.jpg"
            alt="Picture of teacher">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="for for-researchers explore main-section">
      <div class="container">
        <h2 class="sub-title">For Researchers</h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">

            <div class="main-section__item__img-wrapper">
              <img src="../../images/images_from_noroff/people-219985_1280.jpg" alt="Picture of man with microscope">
            </div>
            <p>Are you looking to get involved with our team of researchers and academics? Our museum offers various
              ways for you to use our resources and contribute towards them. We have online records, laboratory space,
              and a working relationship with a number of universities around the country.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../../js/components/nav-main.js"></script>
  <script src="../../js/components/footer.js"></script>
</body>

</html>