<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || If you are teacher on this website you can find many informations you need before you will come to our Comunity Sience Museum with students. ">
  <title>Community Sience Museum || Explore Our Museum - For Teachers</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="for for-teachers spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Explore</span>
          <span class="main-header__word"><span class="first-letter">F</span>or</span>
          <span class="main-header__word"><span class="first-letter">T</span>eachers</span>
        </h1>
        <ul class="nav-section">
          <li><a href="./for-kids.html" title="Community Sience Museum || Explore Our Museum - For Kids">For Kids</a>
          </li>
          <li><a href="./for-teachers.html" title="Community Sience Museum || Explore Our Museum - For Teachers">For
              Teachers</a></li>
          <li><a href="./for-researchers.html"
              title="Community Sience Museum || Explore Our Museum - For Researchers">For Researchers</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../../images/images_my/for-teachers-main/for-teachers-main.jpg"
            alt="Picture of teacher">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="for for-teachers explore main-section">
      <div class="container">
        <h2 class="sub-title">For teachers</h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">

            <div class="main-section__item__img-wrapper">
              <img src="../../images/images_my/centrum-nauki-kopernik.jpg" alt="Picture of Centrum Nauki Kopernik">
            </div>
            <p>Come join us at the Community Science Museum where we’re committed to making science accessible
              to all.
            </p>
          </div>
          <div class="main-section__item">
            <div class="main-section__item__img-wrapper">
              <img src="../../images/images_my/for-teachers/laboratory-ga58920a9a_640.jpg"
                alt="Team of laboratory team">
            </div>
            <p> Our team are on hand to give your students guided tours of the museum, teach them in our learning
              laboratory, and provide great video presentations that will excite and inspire them.
            </p>
          </div>
          <div class="main-section__item">
            <div class="main-section__item__img-wrapper">
              <img src="../../images/images_my/contact-us/contact-us.jpg" alt="Picture of contact icons">
            </div>
            <p>Please get in touch with us here to find out more about our facilities and to arrange a time to bring
              your students through for a visit.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../../js/components/nav-main.js"></script>
  <script src="../../js/components/footer.js"></script>
</body>

</html>