<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Science Museum - museum of science. || On this website you can find many information and movie about Biology & Medicine.">
  <title>Community Science Museum || Exhibition Spaces - Biology & Medicine</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main exhibition"></nav>
    <section class="biology spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Exhibition</span>
          <span class="main-header__word"><span class="first-letter">B</span>iology &</span>
          <span class="main-header__word"><span class="first-letter">M</span>edicine</span>
        </h1>
        <ul class="nav-section">
          <li><a href="../exhib__sub-web/cosmology.html"
              title="Community Science Museum || Exhibition Spaces - Biology & Medicine">Cosmology</a></li>
          <li><a href="../exhib__sub-web/evolution.html"
              title="Community Science Museum || Exhibition Spaces - Evolution">Evolution</a></li>
          <li><a href="../exhib__sub-web/robotics.html"
              title="Community Science Museum || Exhibition Spaces - Robotics & AI">Robotics & AI</a></li>
          <li><a href="../exhib__sub-web/ecology.html"
              title="Community Science Museum || Exhibition Spaces - Ecology">Ecology</a></li>
          <li><a href="../exhib__sub-web/biology.html"
              title="Community Science Museum || Exhibition Spaces - Biology & Medicine">Biology & Medicine</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../../images/images_from_noroff/heart-2607178_1920.jpg"
            alt="Picture of fake hart for students">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="exhib__sub-web main-section">
      <div class="container">
        <h2 class="sub-title">Biology & Medicine >>></h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">
            <p>From micro-organisms to the human body, major breakthroughs in biology are offering us unique insights
              into the great wonders of the tiny world.
              For many people their life expectancy is much longer and their quality of life much improved, thanks to
              the growth of our understanding of medicine. Over a series of exhibits we explore the history of medicine
              and take a look at some major breakthroughs including the discovery of penicillin and the first heart
              transplant.
              Many of our great medicinal discoveries have come not only from the lab, but also from observing animals
              in the wild. Often our fellow creatures have beat us to it.</p>
          </div>
          <div class="video">
            <h3 class="sub-title">Watch video</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OxcEMVKYZ_M"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../../js/components/nav-main.js"></script>
  <script src="../../js/components/footer.js"></script>
</body>

</html>