<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || On this website you can find many information and movie about cosmology.">
  <title>Community Sience Museum || Exhibition Spaces - Cosmology</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="cosmology spaces explore welcome">
      <div class="container">
        <h1 class="main-header" onclick="location.href='../exhib-spaces.html'"
          title="Community Sience Museum || Exhibition Spaces">
          <span class="main-header__prefix">Exhibition</span>
          <span class="main-header__word"><span class="first-letter">C</span>osmology</span>
        </h1>
        <ul class="nav-section">
          <li><a href="../exhib__sub-web/cosmology.html"
              title="Community Sience Museum || Exhibition Spaces - Biology & Medicine">Cosmology</a></li>
          <li><a href="../exhib__sub-web/evolution.html"
              title="Community Sience Museum || Exhibition Spaces - Evolution">Evolution</a></li>
          <li><a href="../exhib__sub-web/robotics.html"
              title="Community Sience Museum || Exhibition Spaces - Robotics & AI">Robotics & AI</a></li>
          <li><a href="../exhib__sub-web/ecology.html"
              title="Community Sience Museum || Exhibition Spaces - Ecology">Ecology</a></li>
          <li><a href="../exhib__sub-web/biology.html"
              title="Community Sience Museum || Exhibition Spaces - Biology & Medicine">Biology & Medicine</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../../images/images_my/cosmology/earth-g8b77cf178_640.jpg"
            alt="Picture of Earth from cosmos">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="exhib__sub-web main-section">
      <div class="container">
        <h2 class="sub-title">Cosmology >>></h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">
            <p>Explore the wonders of our cosmos. Our fantastic exhibition, ‘The Sky Above Us’, explores the night sky
              and what we can see and know about the universe around us. We’ll locate the various constellations and
              galaxies that can be seen and learn a bit about the early navigators who used the stars to travel by.
              Follow the journey of our solar exploration: from early Arab traders, to Galileo’s telescope, to the
              latest exploration of the planets in our solar system.</p>
          </div>
          <div class="video">
            <h3 class="sub-title">Watch video</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UMlnms4YLBs"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../../js/components/nav-main.js"></script>
  <script src="../../js/components/footer.js"></script>
</body>

</html>