<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Community Sience Museum - museum of sience. || On this website you can find many information and movie about Robotics & AI.">
  <title>Community Sience Museum || Exhibition Spaces - Robotics & AI</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <nav class="nav-main"></nav>
    <section class="robotics spaces explore welcome">
      <div class="container">
        <h1 class="main-header">
          <span class="main-header__prefix">Exhibition</span>
          <span class="main-header__word"><span class="first-letter">R</span>obotics &</span>
          <span class="main-header__word"><span class="first-letter">A</span>I</span>
        </h1>
        <ul class="nav-section">
          <li><a href="../exhib__sub-web/cosmology.html">Cosmology</a></li>
          <li><a href="../exhib__sub-web/evolution.html">Evolution</a></li>
          <li><a href="../exhib__sub-web/robotics.html">Robotics & AI</a></li>
          <li><a href="../exhib__sub-web/ecology.html">Ecology</a></li>
          <li><a href="../exhib__sub-web/biology.html">Biology & Medicine</a></li>
        </ul>
        <div class="graphic">
          <img class="graphic-img" src="../../images/images_my/IA-main/IA-main.jpg"
            alt="Picture of human who is shaking hand with AI">
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="exhib__sub-web main-section">
      <div class="container">
        <h2 class="sub-title">Robotics & AI >>></h2>
        <div class="main-section__item-wrapper">
          <div class="main-section__item">
            <p>The information revolution is here and robotics and artificial intelligence are the science of the
              future. From useful home applications of AI to industrial uses of robotics, the future is here. You can
              even say hello and shake the hand of Rob the Robot.</p>
          </div>
          <div class="video">
            <h3 class="sub-title">Watch video</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uhND7Mvp3f4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </section>
  </main>
  <footer class="footer"></footer>

  <script src="../../js/components/nav-main.js"></script>
  <script src="../../js/components/footer.js"></script>
</body>

</html>